* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
  }
   /* main-container */
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  /* image */
   img {
    width: 539.22px;
    height: 447.43px;
    left: 77px;
    top: 265px;
  }

  /* header */
  h1 {
    height: 190px;
    width: 586px;
    left: 735px;
    top: 265px;
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;
  }
/* paragraph */
  p {
    height: 108px;
    width: 381px;
    left: 736px;
    top: 491px;
    border-radius: nullpx;
    font-family: "san-serif";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;

  }

 /* Button */
  .btn {
    background-color: #333333;
    height: 68px;
    width: 216px;
    left: 740px;
    top: 663px;
    border-radius: 0px;
    cursor: pointer;

  }

/* media query */
  @media (min-width: 370px) {
      body {
       align-items: center;   
      }
    img {
      height: 220.35203552246094px;
      width: 286.829833984375px;
      left: 44px;
      top: 109px;
    }

    h1 {
      height: 142px;
      width: 350px;
      left: 24px;
      top: 407px;
    }

    p {
      height: 81px;
      width: 328px;
      left: 23px;
      top: 579px;
    }

    .btn {
      height: 68px;
      width: 216px;
      left: 24px;
      top: 726px;
    }
  }
