* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
  }
   /* main-container */
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  /* image */
   img {
    width: 539.22px;
    height: 447.43px;
    left: 77px;
    top: 265px;
  }

  /* header */
  h1 {
    height: 190px;
    width: 586px;
    left: 735px;
    top: 265px;
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;
  }
/* paragraph */
  p {
    height: 108px;
    width: 381px;
    left: 736px;
    top: 491px;
    border-radius: nullpx;
    font-family: "san-serif";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;

  }

 /* Button */
  .btn {
    background-color: #333333;
    height: 68px;
    width: 216px;
    left: 740px;
    top: 663px;
    border-radius: 0px;
    cursor: pointer;

  }
